@import "~bootstrap/scss/bootstrap";
@import "/resources/scss/partials/variables";

body {
    background-color: rgb(229, 229, 229);
}

.my-row {
    width: 90vw;
    height: 90vh;

    border-radius: 40px;
    overflow: hidden;
    background-color: #534e4e;

    //test
    border: 1px solid #ccc;
}

#sidebar {
    width: 300px;
    background-color: #354554;
    overflow-y: auto;
}

#main-content,
#main-content-index,
#main-content-show,
#main-content-edit,
#main-content-create {
    width: calc(100% - 300px);
    overflow-y: auto;
}
