@import "~bootstrap/scss/bootstrap";
@import "/resources/scss/partials/variables";

body {
    background-color: rgb(229, 229, 229);
}

.my-row {
    width: 92vw;
    height: 92vh;

    max-width: 2300px;

    border-radius: 40px;
    overflow: hidden;
    background-color: #534e4e;

    //test
    border: 1px solid #ccc;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#sidebar {
    width: 300px;
    background-color: #36597a;
    overflow-y: auto;
    border-top-right-radius: 40px;
}

#main-content,
#main-content-index,
#main-content-show,
#main-content-edit,
#main-content-create {
    width: calc(100% - 300px);
    overflow-y: auto;
}
